html, body, #root, #app>div {
  height: 100%
}

.App {
  justify-content: center;
  background-color: #202020;
  min-width: 100vw;
  min-height: 100vh;
}

.App-header {
  background-color: #181717;
  min-height: 10%;
  display: flex;
  flex-direction: row;
  align-items: center;
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: calc(10px + 2vmin);
  color: white;
}

.redback-logo {
  max-width: calc(200px + 1vmin);
  display: flex;
  align-self: center;
}

.value-title {
  font-size: calc(25px + 2vmin);
}

.right-aligned-content {
  margin-left: auto;
  justify-content: right;
  padding-right: 3%;
  display: flex;
  align-items: center;
  gap: 20px;
  flex-grow: 1;
}

.value-temp-label {
  font-size: calc(25px + 2vmin);
}

.live-value {
  width: 15%;
  font-size: calc(25px + 2vmin);
}

.export-button {
  background-color: #202020;
  color: white;
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: calc(15px + 1vmin);
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.export-button:hover {
  background-color: #292929;
}